.DS_Store
# Start Generation Here
# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyx
*.pxd
*.pxi
*.pyc

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code settings
.vscode/
# End Generation Here

lib
templates
cache
pandasai.log
